$fontPath: "../fonts/";
$imagesPath: "../images/";

$activeHighlight: #DE2728;
$backgroundColour1: #FFFFFF;
$backgroundColour2: #F6F8FA;
$contentMaxWidth: 1440px;
$footerBackground: #373A39;
$footerColour: #CDCDCD;
$heroTextColour: #FFFFFF;
$separatorColour: #DE2728;
$textColour1: #242121;
$textColour2: #373A39;