.twoColImgNText {
	padding: 0 0 79px;
	background-color: $backgroundColour2;
	font-size: 0;

	&__image {
		width: 100%;
	}

	&__titleNTextContainer {
		padding: 60px 32px 79px 25px;
	}
	
	&__title {
		margin-bottom: 7px;
	}


	@media screen and (min-width: 1024px) {
		padding: 0;

		&__image {
			width: 40%;
		}

		&__titleNTextContainer {
			display: inline-block;
			height: 100%;
			padding: 9% 8% 0 9%;
			width: 60%;
			vertical-align: top;
		}

		&title {
			font-size: 60px;
		}
	}

}