@font-face {
	font-family: 'SapientCentroSlab-Light';
	src: url($fontPath + 'SapientCentroSlab-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url($fontPath + 'OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url($fontPath + 'OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}