.twoColTitleNText {
	padding: 60px 32px 77px;
	font-size: 0;

	&__title {
		margin-bottom: 9px;
	}


	@media screen and (min-width: 1024px) {
		padding: 8% 9%;
		
		&__titleContainer {
			display: inline-block;
			margin-right: 5%;
			vertical-align: top;
			width: 25%;
		}

		&__textContainer {
			display: inline-block;
			width: 55%;
		}
		&__title {
			margin-bottom: 1px;
		}
	}
}